.App {
  text-align: center;
  font-family: "Commissioner", sans-serif;
  margin: 0 auto;
  padding: 0;
  border: 5px solid #120078;
  border-radius: 5px;
  max-width: fit-content;
  background-color: #bce6eb;
}
