.FiveDay.card {
  background-color: #bce6eb;
  border: 2px solid #120078;
  border-radius: 0;
}

.FiveDay {
  font-family: "Commissioner", sans-serif;
  padding: 5px;
  text-align: center;
}

.day {
  font-weight: 700;
}

.five-day-temp {
  font-weight: 500;
}

.icon {
  font-size: 70px;
}
