.Search {
  border: 2px solid #120078;
}

.search-form {
  border-radius: 1px;
  box-shadow: none;
  width: 60%;
}

.search-form,
.search-button {
  float: left;
}

.search-button,
.location-button {
  display: inline;
  font-family: "Commissioner", sans-serif;
  border-radius: 1px;
  box-shadow: none;
  transition: 250ms;
}

.search-button:hover {
  opacity: 60%;
}

.location-button:hover {
  opacity: 60%;
}

.search-button {
  width: 15%;
}

.location-button {
  float: right;
  background-color: #120078;
  color: #bce6eb;
  width: 25%;
}
