.Summary.card {
  border: 2px solid #120078;
  border-radius: 0;
}

.Clouds {
  background-image: url(./Images/clouds.jpg);
}

.Rain,
.Thunderstorn,
.Drizzle {
  background-image: url(./Images/rain.jpg);
}

.Sun {
  background-image: url(./Images/sun.jpg);
}

.Snow {
  background-image: url(./Images/snow.jpg);
}

.card-body {
  padding: 0;
}

.summary-text {
  color: #120078;
  font-weight: 1000;
}

.temp-low,
.temp-high,
.temp-current,
.current-date-time {
  text-align: right;
}

.temp-low,
.temp-high {
  font-size: 20px;
  list-style: none;
  margin-top: 5px;
}

.col-8 {
  padding: 20px 0;
  width: fit-content;
}

.unit {
  font-size: 20px;
  float: right;
  margin-top: 20px;
}

.current-date-time {
  padding: 10px 20px;
  line-height: 20px;
}

.temp-current {
  font-size: 75px;
  max-width: fit-content;
  max-height: fit-content;
  margin: 0 auto;
}

.current-city {
  text-align: left;
  font-size: 30px;
  padding: 0 0 10px 20px;
  line-height: 20px;
}
